In [1]:
def greet():
    print('hello')
    print('good morning')
#when we run the code we havent got any output

In [2]:
def greet():
    print('hello')
    print('good morning')
greet()#if you need call multiple times

hello
good morning

In [4]:
def greet():
    print('hello')
    print('good morning')
greet()

def greet():
    print('hello')
    print('good morning')
greet()

hello
good morning
hello
good morning

In [5]:
def greet():
    print('hello')
    print('good morning')
greet()

greet()

hello
good morning
hello
good morning

In [7]:
def add(x,y):
    c=x+y
    print(c)
add(5,6)

11

In [9]:
def add(x,y,z):
    c=x+y+z
    print(c)
add(1,4,5)

10

In [4]:
def greet():
    print('hello')
    print('good morning')
greet()

def add(x,y):
    c=x+y
    print(c)
add(5,4)
#you can create multiple function and call them as many time as you want

hello
good morning
9

In [5]:
def greet():
    print('hello')
    print('good morning')
greet()

def add(x,y):
    c=x+y
    print(c)
add(6,6)

def sub(x,y,z):
    d=x-y-z
    print(d)
sub(10,3,4)

hello
good morning
12
3

In [6]:
def greet():
    print('hello')
    print('good morning')

def add(x,y):
    c=x+y
    print(c)

def sub(x,y,z):
    d=x-y-z
    print(d)

greet()
add(6,6)
sub(10,3,4)

hello
good morning
12
3

In [10]:
def greet():
    print('good morning')
    print('hello')

def sub(x,y,z):
    c=x,y,z
    return c

greet()

result=sub(5,4,3)
print(result)

good morning
hello
(5, 4, 3)

In [12]:
def add_sub(x,y):  #what if i want to return 2values add_sub and i want to return 2 values and function can accpect multiple value
   c=x+y
   d=x-y
   return c,d
add_sub(4,5)

(9, -1)

In [14]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result=add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [15]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
result1,result2=add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

In [17]:
def update():
    x=8
    print(x)
update()

8

In [20]:
def update():# update function take value from the user
    x=8
    print(x)
update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [21]:
def update(x):
    x=8
    print(x)
update(10)

8

In [22]:
def update(x):  #user want to update the value from 8 to 10
    x=8
    print(x)

update(10)

8

In [23]:
def update(x):
    x=8
    print(x)

a=10
update(a)
print(a)

8
10

# pass by value pass by reference

In [5]:
def change (a):
    a=a+10
    print('inside the fun a=',a)

x=10
print('x before calling:',x)
change(x)
print('x after calling:',x)
#even though i changed value x to a still we h=got the same result this concept called as pass by value

x before calling: 10
inside the fun a= 20
x after calling: 10

In [10]:

def change(a):
    print('this is original a',id(a))
    a=a+10
    print('this is the new a=',a)
    print('inside the fun a=',a)

a=10
print('a before calling:',a)
print('this is main a:',id(a))
change(a)
print('a after calling:',a)

a before calling: 10
this is main a: 140723647595592
this is original a 140723647595592
this is the new a= 20
inside the fun a= 20
a after calling: 10

In [13]:
def change(a):
    print('this is original a',id(a))
    a=a+10
    print('this is the new a=',id(a))
    print('inside the fun a=',a)

change(a)
a=10
print('a before calling:',a)
print('this is main a:',id(a))
print('a after calling:',a)

this is original a 140723647595592
this is the new a= 140723647595912
inside the fun a= 20
a before calling: 10
this is main a: 140723647595592
a after calling: 10

In [14]:
#in pass by reference lets pass the mutable eg-list 
def change (lst):
    lst[0]=lst[0]+10
    print('inside fun=',lst)

lst=[10]
print('before calling:',lst )
change(lst)
print('after calling:',lst)

before calling: [10]
inside fun= [20]
after calling: [20]

In [15]:
#by default there is no pass by value and no pass by reference in python

In [17]:
def update(x):
    x=8
    print('x:',x)

a=10
update(a)
print('a:',a)

x: 8
a: 10

In [1]:
def update(x):
    print(id(x))
    x=8
    print('x',x)

a=10
print(id(a))
update(a)
print('a',a)

140723472352328
140723472352328
x 8
a 10

In [3]:
def update(x):
    print(id(x))
    x=8
    print(id(x))
    print('x',x)
a=10
print(id(a))
update(a)
print('a',a)

140723472352328
140723472352328
140723472352264
x 8
a 10

In [5]:
def update(x):
    x=8
    print(id(x))
    print('x',x)

a=10
print(id(a))

update(a)
print('a',a)
#we will understand more when we learn more

140723472352328
140723472352264
x 8
a 10

In [7]:
def update(x):
    print(id(x))
    x=8
    print(id(x))
    print('x',x)

a=10
print(id(a))
update(a)
print('a',a)

140723472352328
140723472352328
140723472352264
x 8
a 10

In [12]:
def update(lst):
    print(id(lst))
    lst[1]=25
    print(id(lst))
    print('x',lst)
lst=[10,20,30]   #lets pass list
print(id(lst))
update(lst)
print('lst',lst)

2943018906496
2943018906496
2943018906496
x [10, 25, 30]
lst [10, 25, 30]

In [14]:
def modify_integer(x):
    x=10
    print('inside function:',x)
my_integer=5
modify_integer(my_integer)
print('outside function:',my_integer)

inside function: 10
outside function: 5

In [17]:
def modify_integer(x):
    print('original inside function:',id(x))
    x=10
    print('inside function:',x)
    print('inside function:',id(x))

my_integer=5
modify_integer(my_integer)
print('outside function:',my_integer)
print('outside function:',id(x))

original inside function: 140723472352168
inside function: 10
inside function: 140723472352328
outside function: 5

NameError: name 'x' is not defined

In [18]:
#no concept for pass by reference in python

In [19]:
def modify_list(my_list):
    my_list.append(4)
    print('inside function:',my_list)

my_list=[1,2,3]
modify_list(my_list)
print('outside function:',my_list)

inside function: [1, 2, 3, 4]
outside function: [1, 2, 3, 4]

In [20]:
def modify_list(my_list):
    print('original inside function:',id(my_list))
    my_list.append(4)
    print('inside function:',my_list)
    print('inside function:',id(my_list))
my_list=[1,2,3]
modify_list(my_list)
print('outside function:',my_list)
print('outside function:',id(my_list))

original inside function: 2943028746176
inside function: [1, 2, 3, 4]
inside function: 2943028746176
outside function: [1, 2, 3, 4]
outside function: 2943028746176

# Types of Argument
1 Formal Argument

2 Actual Argument

In [21]:
def add(a,b) :     #a and b is formal argument
    c=a+b
    print(c)
add(5,6)  #5 and 6 is actual argument

11

In [22]:
def add(a,b,d,e):
    c=a+b+d
    print(c)
add(5,6,7,8)

18

# Types of Actual Argument

1 Positional Argument

2 Keyword Argument

3 Default Argument

# 1.positional argument

In [23]:
def person(name,age):
    print(name)
    print(age)
person('komal',21)

komal
21

In [24]:
def person(name,age):
    print(name)
    print(age)
person(21,'komal')

21
komal

# 2.keyword argument

In [25]:
def person(name,age):
    print(name)
    print(age-5)
person(21,'komal')

21

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [28]:
def person(name,age):
    print(name)
    print(age-5)

person(age=20,name='komal')

#this is called keyword argument

komal
15

In [30]:
def person(name,age):
    print(name)
    print(age)

person(age=21,name='komal')

#Keyword argument

komal
21

In [32]:
def person(name,age,age1):
    print(name)
    print(age)
    print(age1)
person(age=20,name='komal',age1=15)

#keyword argument

komal
20
15

In [33]:
x=27
y=4
print(x%y*3)

9

# 3. default argument

In [35]:
def person(name,age=18):  #in this code we expected to print 2 but we got bydefault 
    print(name)
    print(age)
person('komal')

komal
18

In [36]:
def person(name,age):
    print(name)
    print(age)
person('komal',21)

komal
21

In [37]:
def person(name,age):
    print(name)
    print(age)
person('komal',22)  #In hear bydefault override the existing bydefault value

komal
22

# 4.variable length argument

In [38]:
def sum(a,b):
    c=a+b
    print(c)
sum(5,6)

11

In [39]:
def sum(a,b):
    c=a+b
    print(c)
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [40]:
def sum(a,*b):     #1st argument is fix but 2nd argument
    c=a+b          #int+tuple its not possible in python thatswhy showing error
    print(c)
sum(5,6,7,8)
#we got error as int and tuple error beacuse a is integer and b is tuple

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [41]:
def sum(a,*b):
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [43]:
def sum(a,*b): #1st argument is fixed and we fetch each value from the tuple and we can add them
    c=a
    for i in b:
        c=c+i
    print(c)
sum(5,6,7,8)

26

In [44]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)
sum(5,6,7,8,9,10,11)

56

In [45]:
def sum(a,*b):
    c=0
    for i in b:
        c=c+i
    print(c)
sum(5,6,7,8)

21

In [46]:
def sum(a,*b):
    c=0
    for i in b:
        c=c+i
    print(c)
sum(5,6,7,8,9,89,-100,23)

42

In [47]:
#kwargs -key word variable length argument

# keyword variable length arguments

In [48]:
def person():
    person('alex',36,'john',987767)

In [49]:
def person(name,*data):
    print(name)
    print(data)
person('alex',36,'john',987767)

alex
(36, 'john', 987767)

In [51]:
def person(name,*data):
    print('name')
    print(data)
person('alex',age=36,home_place='southcity',mob=987767)
#we got error as keyword argument thats why we add another *

TypeError: person() got an unexpected keyword argument 'age'

In [54]:
def person(name,**data):
    print(name)
    print(age)
person('mark',age=36,home_place='southcity',mob=987767)

mark

NameError: name 'age' is not defined

In [56]:
def person(name,**data):
    print(name)
    print(data)
person('mark',age=36,home_place='southcity',mob=987767,edu='phd',actor='john')
#even though you can keep add the keyword this concept we called as kwargs

mark
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'edu': 'phd', 'actor': 'john'}

In [57]:
def person(name,**data):
    print(name)
    for i,j in data.items():
        print(i,j)
person('john',age=36,home_place='southcity',mob=987767,place='USA')

john
age 36
home_place southcity
mob 987767
place USA