# Tuple Creation

In [2]:
tup1=()     #empty tuple
print(tup1)

()

In [3]:
tup2=(10,30,60)  # tuple of integer numbers
print(tup2)

(10, 30, 60)

In [4]:
tup3=(10.77,30.66,60.89)      #tuple of float numbers
print(tup3)

(10.77, 30.66, 60.89)

In [5]:
tup4=('komal','navira','sandy')   #tuple of string
tup4

('komal', 'navira', 'sandy')

In [8]:
tup5=('riya','riddhi',25,(34,21),(56,78))   #nested tuple
tup5

('riya', 'riddhi', 25, (34, 21), (56, 78))

In [9]:
tup6=(100,40,50,'john')   #tuple of mixed data types
tup6

(100, 40, 50, 'john')

In [10]:
tup7=('john',34,[78,56],{'riya','david'},(99,22))
tup7

('john', 34, [78, 56], {'david', 'riya'}, (99, 22))

In [12]:
len(tup7)    #len of list

5

# Tuple Indexing

In [13]:
tup2[0]   #retrive first element of the tuple

10

In [14]:
tup4[0]

'komal'

In [15]:
tup7[2][0]

78

In [16]:
tup4[-1]

'sandy'

In [17]:
tup5[-1]

(56, 78)

# Tuple Slicing

In [40]:
mytuple=('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [41]:
mytuple[0:3]

('one', 'two', 'three')

In [42]:
mytuple[2:5]

('three', 'four', 'five')

In [43]:
mytuple[:3]

('one', 'two', 'three')

In [44]:
mytuple[:2]

('one', 'two')

In [45]:
mytuple[-3]      #return last  3rd items

'six'

In [46]:
mytuple[-2]

'seven'

In [47]:
mytuple[-1]    #return last element

'eight'

In [48]:
mytuple[:]   #return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [49]:
mytuple[0:7:2]

('one', 'three', 'five', 'seven')

# Remove and change items

In [50]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [51]:
del mytuple[0]  #tupels are immutable which means we cant delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [52]:
mytuple[0]=1  #tuples are immutable which means we cant change tuple items

TypeError: 'tuple' object does not support item assignment

In [53]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [54]:
del mytuple  #deleting entire tuple object is possible

# Loop through a tuple

In [56]:
mytup=('nine','eight','seven','six','five','three','two','one')

In [57]:
print(mytup)

('nine', 'eight', 'seven', 'six', 'five', 'three', 'two', 'one')

In [58]:
for i in mytuple:
    print(i)

nine
eight
seven
six
five
three
two
one

In [59]:
for i in enumerate(mytuple):
    print(i)

(0, 'nine')
(1, 'eight')
(2, 'seven')
(3, 'six')
(4, 'five')
(5, 'three')
(6, 'two')
(7, 'one')

# Tuple Membership

In [60]:
mytup

('nine', 'eight', 'seven', 'six', 'five', 'three', 'two', 'one')

In [63]:
'one' in mytup    #check if 'one' exist in the list

True

In [64]:
'ten' in mytup

False

In [66]:
if 'two' in mytup:
    print('two is present in mytup')
else:
    print('two is not present in mytup')

two is present in mytup

In [67]:
if 'ten' in mytuple:
    print('ten is present')
else:
    print('not present')

not present

# Index position

In [68]:
mytup

('nine', 'eight', 'seven', 'six', 'five', 'three', 'two', 'one')

In [69]:
mytup.index('one')

7

In [72]:
mytup.index('five')

4

# sorting

In [74]:
mytuple1=(23,78,1,67,0,34,5,2)

In [76]:
print(mytuple1)

(23, 78, 1, 67, 0, 34, 5, 2)

In [79]:
sorted(mytuple1)

[0, 1, 2, 5, 23, 34, 67, 78]

In [82]:
sorted(mytuple1,reverse=True)    #sort in descending order

[78, 67, 34, 23, 5, 2, 1, 0]